<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>港，奥，台</key>
	<array>
		<string>香港特别行政区</string>
		<string>澳门特别行政区</string>
		<string>台湾省</string>
	</array>
	<key>华东区</key>
	<array>
		<string>上海市</string>
		<string>江苏省</string>
		<string>浙江省</string>
		<string>安徽省</string>
		<string>江西省</string>
	</array>
	<key>华北区</key>
	<array>
		<string>北京市</string>
		<string>天津市</string>
		<string>山西省</string>
		<string>山东省</string>
		<string>河北省</string>
		<string>内蒙古</string>
	</array>
	<key>华中区</key>
	<array>
		<string>湖南省</string>
		<string>湖北省</string>
		<string>河南省</string>
	</array>
	<key>华南区</key>
	<array>
		<string>广东省</string>
		<string>广西壮族自治区</string>
		<string>福建省</string>
		<string>海南省</string>
	</array>
	<key>西南区</key>
	<array>
		<string>重庆市</string>
		<string>四川省</string>
		<string>贵州省</string>
		<string>云南省</string>
		<string>西藏自治区</string>
	</array>
	<key>西北区</key>
	<array>
		<string>陕西省</string>
		<string>甘肃省</string>
		<string>宁夏回族自治区</string>
		<string>新疆维吾尔族自治区</string>
		<string>青海省</string>
	</array>
	<key>东北区</key>
	<array>
		<string>黑龙江省</string>
		<string>吉林省</string>
		<string>辽宁省</string>
		<string>内蒙古自治区呼伦贝尔市</string>
		<string>兴安盟</string>
		<string>通辽市</string>
		<string>赤峰市</string>
	</array>
</dict>
</plist>
